import %workspace%/tools/preset.bazelrc
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc

# Cause a build failure when files in the source tree don't match their generated counterparts.
common --@diff.bzl//diff:validate_diffs

# Don’t want to push a rules author to update their deps if not needed.
# https://bazel.build/reference/command-line-reference#flag--check_direct_dependencies
# https://bazelbuild.slack.com/archives/C014RARENH0/p1691158021917459?thread_ts=1691156601.420349&cid=C014RARENH0
common --config=ruleset
